<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dailylogbackend.feed.query.infra.mapper.FeedMapper">
    <resultMap id="feedResultMap" type="FeedEntity">
        <id property="feedNo" column="FEED_NO"/>
        <association property="diaryEntity" resultMap="diaryResultMap"/>
    </resultMap>
    <resultMap id="diaryResultMap" autoMapping="true" type="DiaryEntity">
        <association property="memberEntity" resultMap="memberResultMap"/>
    </resultMap>
    <resultMap id="memberResultMap" autoMapping="true" type="MemberEntity"/>
    <select id="getFeedList" resultMap="feedResultMap">
        SELECT *
        FROM HARULOG.FEED F
        RIGHT OUTER JOIN HARULOG.DIARY D
        ON F.DIARY_NO = D.DIARY_NO
    </select>
</mapper>